<h1>Welcome to Gabe's New Site</h1>

<p>
	Until it's finished, please check out 
    <%= link_to "Twitter", "https://twitter.com/DumbGabe" %>
    for more content.
</p>


<p>
	<%= link_to "Sign Up Now!", "#" %>
</p>

<p>
	<iframe src="https://www.facebook.com/plugins/like.php?href=http://powerful-journey-1891.herokuapp.com/"scrolling="no" frameborder="0"style="border:none; width:450px; height:80px">
	</iframe>
		
</p>

	